# macOS
.DS_Store

# Swift Package Manager
/.build
/Packages
.netrc
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# Xcode
xcuserdata/
DerivedData/
*.xcscmblueprint
*.xccheckout
